.footer {
  position: relative;
  background: #e5f7fd;
  border: 1px;
  border-radius: 20px;
  margin: 0 auto;
  width: 96%;
  height: auto;
  margin-top: 50px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 55%;
}


.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column map {
  width: 40px;
}
a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.location-map {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 0px;
}
.location-map .map img {
  width: 169px;
  height: 72px;
  border-radius: 16px;
  margin-top: 50px;
  align-items: center;
}
.location-map .location img {
  width: 24px;
  height: 24px;
  margin-top: 75px;
}
a .socialMedia img {
  margin-top: 5px;
  width: 18px;
  height: 17px;
}
.column h4 {
  color: black;
  font-family: Avenir Arabic;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: right;
  justify-content: right;
  margin: auto 0;
}
.column p {
  text-align: left;
  justify-content: flex-end;
}
.column p span img {
  width: 25px;
  height: 25px;
}
.column a p {
  display: flex;
  margin: 5px auto;

}

.column h5 {
  color: black;
  font-family: Avenir Arabic;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  text-align: center;
  margin: 0 auto;
  justify-content: flex-end;
}
.column h5 img {
  width: 42px;
  height: 42px;
}
/* .column a p {
  display: flex;
} */
.column p {
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  font-family: Avenir Arabic;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
}

.footer-below {
  display: flex;

  justify-content: space-between;
}

hr {
  color: white !important;
  border: 1px solid white;
  width: 80%;
}

div.footer {
  padding: 40px 20px;
}

.footer-copyright {
  color: black;
  font-weight: 600;
  font-family: Avenir Arabic;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
.footer-copyright p {
  font-weight: 300;
  font-size: 18px;
}
.cleanstead p {
  color: gray;
  width: 300px;
}
.column {
  width: 45%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}