.footer {
  position: relative;
  background: #e5f7fd;
  border: 1px;
  border-radius: 20px;
  margin: 0 auto;
  width: 96%;
  height: auto;
  margin-top: 50px;
 
}

.footer-column {
  display: flex;
  justify-content:center;
}

.column h5 {
  color: black;
  font-family: Avenir Arabic;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  text-align: center;
  margin: 0 auto;
  justify-content: flex-end;
  display: flex;
  margin-left: 140px;
}
.column h5 img {
  width: 42px;
  height: 42px;
}

.column p {
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  font-family: Avenir Arabic;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
}

.footer-below {
  display: flex;

  justify-content: space-between;
}

hr {
  color: white !important;
  border: 1px solid white;
  width: 80%;
}

div.footer {
  padding: 40px 20px;
}

.footer-copyright {
  color: black;
  font-weight: 600;
  font-family: Avenir Arabic;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
.footer-copyright p {
  font-weight: 300;
  font-size: 18px;
}
.cleanstead p {
  color: gray;
  width: 300px;
}
.service-column {
  display: inline-block;
  /* width: 70%; */
}
.column h5 {
  margin-right: 50px;
}
.service-column p {
  font-family: Avenir Arabic;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
}
.clean-stead-logo {
  font-family: Avenir Arabic;
  font-size: 30px;
  font-weight: 800;
  line-height: 47px;
  margin-left: 20px;
}
.clean-stead-logo h5 {
  display: flex;
  justify-content: flex-start;
}
.clean-stead-logo img {
  width: 42.56px;
  height: 43.4px;
}
.services-types a{
  text-decoration: none;
}
.service-column {
  width: 35%;
  direction: rtl;
}
.service-column .social-media a img {
  padding: 0 4px;
  margin-bottom: 35px;

}
.service-column .social-media a{
  align-items: center;
}
.service-column h3 {
  font-family: Avenir Arabic;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
}
.contactus-phone {
  display: flex;
}
.contactus-phone img {
  width: 30px;
  height: 45px;
}

.contactus-email {
  display: flex;
}
.contactus-email img {
  width: 30px;
  height: 45px;
}

.map-location {
  display: flex;
}
.map-location .location img {
  margin-top: 46px;
}
